$nudge-single-spaces: false;
$nudge-no-ids: false;
@import "../tools.nudge";

html {
  font: menu;
  font-size: 12px;
  line-height: 1.5;
  padding: 18px;
}

.foo__bar {
  @include nudge-nest('.foo');
}

$nudge-deprecated-selectors-list: (
  '.foo': null,
);
@import "../trumps.nudge";
